<!DOCTYPE html>

<html>

<head>

	<title></title>

</head>

<body>
    <div id="root">
        <h1 v-text="new Date()"></h1>
        <h1>
            {{ reversedMessage }}
        </h1>
        <h2>All Tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks">{{ task.description }}
                <button @click='toggle(task)'>
                    Mark Complete
                </button>
            </li>
        </ul>
        <h2>Completed Tasks</h2>
        <ul>
            <li v-for="task in completeTasks">{{ task.description }}
                <button @click='toggle(task)'>
                    Mark incomplete
                </button>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>


        var app = new Vue({
            el: '#root',
            data: {
                message: 'Hello World',
                tasks: [
                    { description: 'Go to the store', completed: true},
                    { description: 'Daisy to vet', completed: true},
                    { description: 'Practice TKD', completed: false},
                    { description: 'Drive to TKD', completed: false},
                    { description: 'Pick up boys', completed: false},
                    { description: 'Teach Class', completed: false}


                ]
            },
            computed: {
                reversedMessage() {
                    return this.message.split('').reverse().join('');
                },
                incompleteTasks() {
                    return this.tasks.filter(task => ! task.completed);
                },
                completeTasks() {
                    return this.tasks.filter(task => task.completed);
                }
            },
            methods: {
                toggle(task) {
                    task.completed = !task.completed;
                }
            }
        })
    </script>


</body>

</html>
